
	<div id="header-wrap">
		<div id="header-left">
			<!--img class="menu" src="../img/menu.png" ng-click="showSideBar()" /-->
			<!--button class="hamburger" snap-toggle></button-->
			<button ng-click="toggleLeft()" class="hamburger"></button>
		</div>
		<div id="header">
	  		<!-- <img class="logo" src="../img/etrack-logo-flat1.jpg" /> -->
	    </div>
	    <div class="header-right">
	    	<div class="homeClass" ng-click="home()" ng-show="showHome"></div>
	    	<div class="addTime" ng-click="new()" ng-show="showAddTime"></div>
	    	<div class="addTime" ng-click="newExp()" ng-show="showAddExp"></div>
	    <!-- 	<button class="add_time" ng-click="home()">
            	md-icon md-svg-src="img/icons/ic_home_black_48px.svg"></md-icon
            	<img src="img/icons/ic_home_black_48px.svg" />
        	</button> -->
	    </div>

	</div><!-- End of header -->