.logoutButton {
	width: 80%;
	font-size: 1.5em;

}

.sidebar
{
	background-color: #283040;
	color: white;
	z-index: 200;
	/*position: relative;*/
}
.sidebar-content
{
	margin-top:10px;
	/*padding-left: 4px;*/

	text-align: center;
}
.sidebar-row {
	width: 100%;
	height: 70px;
    line-height: 60px;
    padding-top: 5px;

    border-style: solid;
    border-width: 0px 0px 1px 0px;

}
.double-space-sidebar-row {
	width: 100%;
	height: 140px;
    line-height: 120px;
    padding-top: 10px;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
.bottom-row {
	position: absolute;
    bottom: 0;
}