<div class="sidebar" snap-drawer>
	<div class="sidebar-content">
		<div class="double-space-sidebar-row">

			<h3><!-- <i class="material-icons">person</i><br/> --> {{ name }}</h3>
		</div>
		<div class="sidebar-row">
			<md-button ng-click="haswork()">My Work</md-button>
		</div>
		<!-- <div class="sidebar-row">
			<md-button>Favourites</md-button>
		</div> -->
		<div class="sidebar-row">
			<md-button ng-click="myexpenses()">My Expenses</md-button>
		</div>
		<div class="sidebar-row">
			<md-button ng-click="search()">Search for Work</md-button>
		</div>
		<div class="sidebar-row">
			<md-button ng-click="close()">Close Menu</md-button>
		</div>
		<div class="sidebar-row bottom-row">
			<md-button ng-click="logout()" class="md-raised md-primary logoutButton">Logout</md-button>		
		</div>
	</div>
  
</div>