/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}



html {

	width:100%;
	height:100%;
	max-width: 100%;
	padding:0 0 0 0;
	margin:0 0 0 0;	
}
body {
    font-family: 'Roboto', serif;
    width:100%;
	height:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;        
}
h1, h2, h3, p {
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.center {
	text-align: center;
}

#header-wrap {
    position: fixed;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 100;

    background-color:#FFFFFF;
}
#header-left {
	width: 20%;
	float: left;
	height: 80px;
    top: 0;
}
#header {
	width: 60%;
	float: left;
	height: 80px;
    top: 0;
    

    background:url(../img/etrack-logo-flat1.jpg) center center no-repeat;
	/*background-position: center;*/
	background-size:     contain; 

}
.header-right {
	width: 20%;
	float: left;
	height: 80px;
    top: 0;

    position: relative;

    	
}
.homeClass{
	display: none;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);

	width: 70%;
	height: 70%;

	background:url(../img/icons/ic_home_black_18px.svg) no-repeat;	
    background-position: center;
	background-size: contain; 


}
.addTime{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);

	width: 70%;
	height: 70%;

	background:url(../img/add_time_green.png) no-repeat;	
    background-position: center;
	background-size: contain; 


}
.menu {
	margin-left: 4px;
}
.hamburger {
	background:url(../img/menu.png) no-repeat;
	background-position: center;
	border:none;
	width: 100%;
	height: 100%;
	
}
.add_time {
	/*background:url(../img/add_time_green.png) no-repeat;*/
	border:none;
	width: 80px;
	height: 80px;
	margin-right: 5px;

	float: right;

	background:none;
	
}
.full_wrapper {
	background-color:#E3F2FD;
	min-height: 100%;
}
.container {
    width:100%;
    min-height: 100%;
    height: auto;
	padding:0 0 0 0;
	margin:0 0 0 0;  
	margin-top:80px;
	background-color:#E3F2FD;
	float:left;
}
.logo {
/*	display:block;
	width:100%;
	margin-top:6px;
	margin-left:auto;
	margin-right:auto;*/
}

.footer {
	width:100%;
	text-align: center;
	margin-top: 5px;
}

md-progress-circular {
	margin:0 auto;
}
.page-heading {
	margin-top: 15px;
	margin-bottom: 20px;
}

.float-right {
	float: right;
}

.input_right {
	text-align: right;
}

.progressDetail {
	color:#000!important;
	font-size: 18px!important;
}