<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="initTemplate()">
<banner></banner>
<div class="container">
	<backbutton></backbutton>	
	
	<md-content>				
		<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular><br/>		
	</md-content>
</div>