<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="initDisplay()">
	<banner></banner>
	<div class="container">
		
		<backbutton></backbutton>
		<md-content>
			<h2 class="center" id="homeHasWork">{{ workFull }}</h2>
			<md-tabs md-dynamic-height md-border-bottom  md-selected="selectedIndex">
				<md-tab label="Stages">
		    		<md-content>	

						<div ng-repeat="data in items" class="tsCell" ng-click="showWorkFromSearch(data.id, data.name)">
					 
							<div class="cellFarLeft"></div>
							<div class="cellLeft myWork">
								<h3>{{ data.name }}</h3>
								<p>{{ data.parent}}</p>
								<span>{{ data.alias }}</span>
							</div>
							<div class="cellRight">
								<img src="../img/detail.png">		
							</div>

						</div>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>