<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="init()">
	<banner></banner>
	<div class="container">
		<div id="initials">
			<h1>{{ initials }}</h1>
		</div>
		<div id="userName">
			<h1> {{ name }}</h1>
		</div>
		<h2 class="center" id="homeHasWork">My Work</h2>

			<div ng-repeat="data in work" class="tsCell" ng-click="showWork(data.id, data.full_name)">
					 
				<div class="cellFarLeft"></div>
				<div class="cellLeft myWork">
					<p>{{ data.parent }}</p>
					<h3>{{ data.full_name }}</h3>
				</div>
				<div class="cellRight">
					<img src="../img/detail.png">		
				</div>
				<md-divider ng-if="!$last"></md-divider>
		</div>
		<div class="tsCell" ng-show="messageExists">	 
			<div class="cellFarLeft"></div>
			<div class="cellLeft">
				<h3>{{ message }}</h3>
				
			</div>
			<div class="cellRight">
				
			</div>							      
		</div>
	</div>
</div>