#homeHasWork
{
	margin-top: 10px;
}

#initials {
	border-width: 1px;
	color:#FFF;
	background: #689F38;
	border-color:#33691E; 
	width: 100px;
	height: 100px;
	margin: 10px auto;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
}
.search {
	overflow: hidden;
	padding-left: 10%;
	padding-right: 10%;
}

#userName {
	text-align: center;
}