<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="initSearch()">
	<banner></banner>
	<div class="container">
	

		<h2 class="center" >Find</h2>

		<md-content class="search">
			<md-input-container md-no-float class="md-block">
	        	<!-- <i class="material-icons">search</i> -->
	        	<label>Number</label>
      			<input ng-model="sequencenumber" type="text">
    		</md-input-container>
    		<md-input-container md-no-float class="md-block">
	        	<!-- <i class="material-icons">search</i> -->
	        	<label>Name</label>
      			<input ng-model="searchtext" type="text" minlength="3">
    		</md-input-container>
    		
    		<md-input-container  ng-hide="hideCombo"  class="md-full">
		        <label>Types</label>
		        <md-select ng-model="selectedAliasList" class="md-full">
		                   <!-- md-on-close="clearSearchTerm()" -->
<!-- 		          <md-select-header class="demo-select-header">
		            <input ng-model="searchTerm"
		                   type="search"
		                   placeholder="Search for a vegetable.."
		                   class="demo-header-searchbox md-text">
		          </md-select-heade -->

		          <md-optgroup label="Types">
		            <md-option ng-value="alias" ng-repeat="alias in aliasList" ng-selected="alias == 'Project'">{{ alias }}</md-option>
		          </md-optgroup>
		        </md-select>
		    </md-input-container>

		    <md-button class="md-full md-primary md-raised" ng-click="search()">Search</md-button>


    		<div ng-repeat="data in results" class="tsCell" ng-click="resultSelect(data.teid, data.name, data.alias)">	 
				<div class="cellFarLeft"></div>
				<div class="cellLeft">
					<h3>{{ data.name }}</h3>
					<p><span ng-hide="data.sequencenumber == ''">{{ data.sequencenumber }}, </span>{{ data.alias }}</p>
				</div>
				<div class="cellRight">
					<span class="effort">{{  }}</span>
				</div>							      
			</div>


			<div class="tsCell" ng-show="messageExists">	 
				<div class="cellFarLeft"></div>
				<div class="cellLeft">
					<h3>{{ message }}</h3>
				
				</div>
				<div class="cellRight">
				
				</div>
			</div>
	<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular><br/>
    	</md-content>
	</div>
</div>