<md-content class="md-padding" ng-controller="trackableController" ng-init="loadProgress()">	        	          
	<md-list flex>			        
		<md-list-item class="md-3-line progress-note" ng-click="addProgress()">	
			<h3>Add Progress Note</h3>
			<md-divider></md-divider>
		</md-list-item>
    <md-list-item class="md-3-line progress-note" ng-repeat="note in contact.progress" ng-click="null">			          
      <div class="md-list-item-text" layout="column">
        <p>{{ note.date }}</p>
        <p>{{ note.person }}</p>			            
        <p ng-if="!note.comment.includes('<html')" class="progressDetail">{{ note.comment }}</p>			            
        <div ng-if="note.comment.includes('<html')" ng-bind-html="note.comment"></div>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-divider ng-if="!$last"></md-divider>			       
  </md-list>
  <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
</md-content>