<div class="loginPage" ng-init="initLogin()">
  <div id="header-wrap">
    <div id="header-left"></div>
    <div id="header">
      <!-- <img class="logo" src="../img/etrack-logo-flat1.jpg" /> -->
    </div>
    <div class="header-right"></div>
  </div><!-- End of header -->

  <div class="loginForm">
    <form novalidate>
      Username:<br>
      <input type="text" ng-model="user.username"><br>
        Password:<br>
      <input type="password" ng-model="user.password">
      <br><br>
      <button 
        ng-click="login()"
        ng-disabled="isLoading"
      >{{LoginMessage}}</button>
    </form>
  </div>
</div>