.loginPage
{
	background-color:#1467ad;

	background: url('../img/eTrackBackgroundVert.png') center center no-repeat;
	width: 100%;
	height: 100%;
	position:absolute; bottom:0;
	background-size: cover;
}

.loginForm {
	background-color:#FFFFFF;
	position:absolute;
    top:30%;
    right:0;
    left:0;
    width:80%;
    margin:0 auto;
    max-width:450px;

    text-align:center;

    padding:10px 10px 10px 10px;
	
	
}
.loginForm input {
	width: 80%;
	height:2em;
}
.loginForm button {
	height:2.5em;
	background-color:#1467ad;
	color:white;
	font-size:1.5em;

	width: 70%;

	border: 2px solid #1467ad;
	border-radius:5px;
	
}