<md-content class="md-padding">
	        	
	<md-list flex>			        
    	<md-list-item class="md-3-line" ng-repeat="childcon in contact.contacts" ng-click="childContact(childcon.teid)">			          
      		<div class="md-list-item-text" layout="column" >
        		<p>{{ childcon.name }}</p>

      		</div>
    	  <md-divider ></md-divider> 
      </md-list-item>
    			       
  </md-list>
  <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
</md-content>