<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts"  ng-init="initDisplayContact()">
<banner></banner>
<div class="container">	
	
	<!-- <md-button ng-click="backToList()"><b>< {{ workName }}</b></md-button> <!--<i class="material-icons">arrow_back</i>--> 
	<backbutton></backbutton>
	<md-content>
	<h2 class="center">{{ contact.name }}</h2>
    <md-tabs md-dynamic-height md-border-bottom  md-selected="selectedIndex">
	    <md-tab label="details">
	        <md-content class="md-padding">
	        	
	        	<div ng-hide="edit_contact">
					<h3>Name</h3>
					<p>{{contact.name}}</p>												
					<h4>Email:</h4>
					<a href="mailto:{{contact.email}}" target="_top">{{contact.email}}</a>
					<h4>Phone:</h4>
					<a href="tel:{{contact.phone}}">{{contact.phone}}</a>
					<h4>Address:</h4>
					<p>{{contact.address}}</p>
					<h4>Details:</h4>
					<div ng-bind-html="contact.details"></div>
				</div> 

				<div id="contactEdit" ng-show="edit_contact">
					<md-input-container class="md-full">
						<label>Name</label>
						<input ng-model="contact.name" type="text" />
					</md-input-container>
				</div>

				<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
	        </md-content>
	    </md-tab>
	    <md-tab label="progress notes">
	      	<div ng-include="'/trackable/progressNotesFrame.html'"></div>
	    </md-tab>  
	    <md-tab label="Contacts">
	        	<div ng-include="'contact/childContactFrame.html'"></div>		       
	    </md-tab>
	    </md-tabs>
	</md-content>


</div>