<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts"  ng-init="initListContacts()">
<banner></banner>
<div class="container">		
	<md-content>
	<md-tabs md-dynamic-height md-border-bottom  md-selected="selectedIndex">				
		<md-tab ng-repeat="(key, value) in contacts | groupBy: 'alias'" label="{{key}}">
			<md-content>		
				<div ng-repeat="data in value"  class="tsCell" ng-click="contactSelect(data.id, data.name, data.alias)">		
					<div class="cellFarLeft"></div>
					<div class="cellLeft myWork">
						<h3>{{ data.name }}</h3>				
						<span>{{ data.alias }}</span>
					</div>
					<div class="cellRight">
						<img src="../img/detail.png">		
					</div>
					<md-divider ng-if="!$last"></md-divider>	
				</div>
			</md-content>
		</md-tab>
	</md-content>


</div>