<sidebar></sidebar>
<div id="fullWrapper" snap-content ng-init="initCreate()">
<banner></banner>
<div class="container">
	
	<!-- <md-button ng-click="backToList()"><b>< {{ workName }}</b></md-button> -->
	<backbutton></backbutton>

	<md-card>
		<md-card-title>
			<md-card-title-text>
	        <span class="md-headline" ng-hide="isEdit">New Expense</span>	        
	        <h4 class="md-subtitle" ng-show="catSelected">{{ expense.category }}</h4>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content>	    	
	    	<md-input-container class="cont_md-select" ng-hide="catSelected">
				<label>Category</label>
				<md-select ng-model="expense.expCat" ng-change="selectCat()">
					<md-option ng-repeat="data in categories" value="{{data.field}}">
						{{ data.field }}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block">
	          <label>Notes</label>
	          <textarea ng-model="expense.note" md-maxlength="50" rows="3" md-select-on-focus></textarea>
	        </md-input-container>
			  
			<md-input-container class="md_half" ng-show="showUnits">
				<label>Unit Cost $</label>
				<input ng-model="expense.unitcost" type="number" ng-change="updateUnits()" />
			</md-input-container>
			<md-input-container class="md_half" ng-show="showUnits">
				<label>Unit Charge $</label>
				<input ng-model="expense.unitcharge" type="number" ng-change="updateUnits()" />
			</md-input-container>
			
			<md-input-container class="md_third">
				<label>Actual Units</label>
				<input ng-model="expense.actualunits" type="number" ng-change="updateUnits()" />
			</md-input-container>
			<md-input-container class="md_third" ng-show="user.flags.indexOf('pfAccessToExpenseCharge') > 0">
				<label>Actual Charge $</label>
				<input ng-model="expense.actualcharge" type="number"  step="0.01" />
			</md-input-container>
			<md-input-container class="md_third" ng-show="user.flags.indexOf('pfAccessToExpenseCost') > 0">
				<label>Actual Cost $</label>
				<input ng-model="expense.actualcost" type="number"  step="0.01" />
			</md-input-container>
			
			
			<!-- <md-input-container class="cont_md-select">
				<label>Cost Centre</label>
				<md-select ng-model="expense.selectedcostcentre">
					<md-option ng-repeat="data in costcentres" value="{{data.name}}">
						{{ data.name }}
					</md-option>
				</md-select>
			</md-input-container> -->
			<md-input-container class="md-full">
				<label>Date</label>
				<md-datepicker ng-model="expense.dateJS" id="exp_date"></md-datepicker>
			</md-input-container>
			<md-input-container class="md-full md_squeeze">
				<md-switch class="md-primary" md-no-ink aria-label="GST Included" ng-model="expense.gst">
		    		GST Included
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md-full md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="To Invoice" ng-model="expense.invoice">
		    		To Invoice 
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Export" ng-model="expense.export">
		    		Export 
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Reimburse" ng-model="expense.reimburse">
		    		Reimburse
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Paid" ng-model="expense.paid">
		    		Paid 
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Approved" ng-model="expense.approved">
		    		Approved 
		  		</md-switch>
		  	</md-input-container>
		  	
		  	<md-input-container class="md-full md_squeeze">
		  	<i class="material-icons">person</i>  {{ userName }}
		  	</md-input-container>
<!-- 		  	<md-input-container class="md-full">
				
				<input ng-model="expense.image" type="file" />
			</md-input-container> -->
			<md-button class="md-raised md-primary md-full" ng-click="createExpense()">{{ savebutton }}</md-button>
			
			<md-progress-circular md-mode="indeterminate" ng-show="isSaving"></md-progress-circular>
			
		</md-card-content>
	</md-card>

  	
</div>