<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="initCreate()">
<banner></banner>
<div class="container">
	
	<md-button ng-click="backToList()"><b>< {{ workName }}</b></md-button>

	
	<!-- <div class="exp_label"><p id="exp_category_label">Category</p></div>
	<div class="exp_input">
		<select id="exp_category">
			<option ng-repeat="data in categories" value="{{data.field}}">{{ data.field }}</option>
		</select>
	</div>
	<div class="exp_label"><p>Date</p></div>
	<div class="exp_input">
		<md-datepicker ng-model="expenseDate" md-placeholder="Enter date" id="exp_date"></md-datepicker>
	</div>
	<div class="exp_label"><p>Actual Units</p></div>
	<div class="exp_input">
		<input type="number" name="exp_units" />
	</div>
	<div class="exp_label"><p></p></div>
	<div class="exp_input">
		
	</div> -->


	<md-card>
		<md-card-title>
			<md-card-title-text>
	        <span class="md-headline">New Expense</span>
	        
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content>
	    	<md-input-container class="cont_md-select">
				<label>Category</label>
				<md-select ng-model="expCat" ng-change="selectCat()">
					<md-option ng-repeat="data in categories" value="{{data.field}}">
						{{ data.field }}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block">
	          <label>Notes</label>
	          <textarea ng-model="note" md-maxlength="50" rows="3" md-select-on-focus></textarea>
	        </md-input-container>
			  
			
			<md-input-container class="md_third">
				<label>Actual Units</label>
				<input ng-model="actualunits" type="number" ng-change="updateUnits()" />
			</md-input-container>
			<md-input-container class="md_third">
				<label>Actual Charge $</label>
				<input ng-model="actualcharge" type="number" />
			</md-input-container>
			<md-input-container class="md_third">
				<label>Actual Cost $</label>
				<input ng-model="actualcost" type="number" />
			</md-input-container>
			<md-input-container class="md_half">
				<label>Unit Cost $</label>
				<input ng-model="unitcost" type="number" ng-change="updateUnits()" />
			</md-input-container>
			<md-input-container class="md_half">
				<label>Unit Charge $</label>
				<input ng-model="unitcharge" type="number" ng-change="updateUnits()" />
			</md-input-container>
			
			<md-input-container class="cont_md-select">
				<label>Cost Centre</label>
				<md-select ng-model="selectedcostcentre">
					<md-option ng-repeat="data in costcentres" value="{{data.name}}">
						{{ data.name }}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-full">
				<label>Date</label>
				<md-datepicker ng-model="date" id="exp_date"></md-datepicker>
			</md-input-container>
			<md-input-container class="md_half md_squeeze">
				<md-switch class="md-primary" md-no-ink aria-label="GST Included" ng-model="gst">
		    		GST Included
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="To Invoice" ng-model="invoice">
		    		To Invoice 
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Export" ng-model="export">
		    		Export 
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Reimburse" ng-model="reimburse">
		    		Reimburse
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Paid" ng-model="paid">
		    		Paid 
		  		</md-switch>
		  	</md-input-container>
		  	<md-input-container class="md_half md_squeeze">
		  		<md-switch class="md-primary" md-no-ink aria-label="Approved" ng-model="approved">
		    		Approved 
		  		</md-switch>
		  	</md-input-container>
		  	
		  	<md-input-container class="md-full md_squeeze">
		  	<i class="material-icons">person</i>  {{ userName }}
		  	</md-input-container>
<!-- 		  	<md-input-container class="md-full">
				
				<input ng-model="image" type="file" />
			</md-input-container> -->
			<md-button class="md-raised md-primary md-full" ng-click="createExpense()">Create Expense</md-button>
			<md-progress-circular md-mode="indeterminate" ng-show="isSaving"></md-progress-circular>
		</md-card-content>
	</md-card>

  	
</div>