<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="init()">
<banner></banner>
<div class="container">
	<backbutton></backbutton>
	
	<h2 class="center">{{ workName }}</h2>
	<div class="tsCell newExp" ng-click="newExpense()">
		<div class="cellFarLeft"></div>
		<div class="cellLeft">
			<h2>New Expense</h2>
		</div>
		<div class="cellRightNew">
			<span class="effort">+</span>
		</div>		<!--div ng-repeat="value in expenses"--> 
	</div>
	
	<div ng-repeat="data in expenses track by data.expenseid" class="tsCell" ng-click="showExpense(data.expenseid)">	 
		<div class="cellFarLeft"></div>
		<div class="cellLeft">
			<h3>{{ data.category }}</h3>
			<p>{{ data.person }}</p>
			<span>{{ data.date }}</span>
		</div>
		<div class="cellRight">
			<span class="effort" ng-show="user.flags.indexOf('pfAccessToExpenseCharge') > 0">{{ data.actualcharge | currency }}</span>
			<span class="right_sub" ng-show="user.flags.indexOf('pfAccessToExpenseCharge') > 0">Charge</span>
			<span class="effort" ng-show="user.flags.indexOf('pfAccessToExpenseCost') > 0">{{ data.actualcost | currency }}</span>
			<span class="right_sub" ng-show="user.flags.indexOf('pfAccessToExpenseCost') > 0">Cost</span>

		</div>		
		<md-divider ng-if="!$last"></md-divider>					      
	</div>

	<div class="tsCell" ng-show="messageExists">	 
		<div class="cellFarLeft"></div>
		<div class="cellLeft">
			<h3>{{ message }}</h3>	
			
		</div>
		<div class="cellRight">
			
		</div>							      
	</div>

	<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular><br/>
	<!--/div-->
</div>