/*#exp_category {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:100%;
  display: block;
  
  font-family:arial,tahoma;
  font-size:1.3em;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
*/
.cont_md-select {
	width: 95%;
}
.exp_label {
	width: 30%;
	padding-left: 2%;
	float: left;
	font-size:1.3em;
  	font-weight:bold;
  	line-height: 50px;
  	height: 50px;
  	padding-left: 10px;

  	margin-bottom: 10px;
  	
}
.exp_input {
	float: left;
	width: 68%;

	margin-bottom: 10px;
	height: 50px;

}

.exp_input input {
	width: 100%;
	height: 90%;
	background-color: #E3F2FD;
}
.exp_input input[type=number] {
	text-align: right;
	border-bottom-style: solid;
	border-bottom-color: #90CAF9;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
.md_third {
	width: 30%;
	min-width: 120px;
}
.md_half {
	width: 45%;
}
.md-full {
	width: 95%;
}
.md_squeeze {
	margin-bottom: 2px;
	padding-bottom: 2px;

}


.card-media img {
	max-width: 80%;
}

md-list-item, md-list {
	width: 100%;
}

.threecol {
	width: 33%;
	float: left;

}
.expense_image {
	width: 100%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 10px;
	
}
.expense_image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.upload-image {
	width: 90%;
}
.viewExpCard {
	position: relative;
}
.more_butt {
	position: absolute!important;
	top:10px;
	right:0;
	width: 80px!important;
	height: 80px!important;
}
.more_butt i {
	font-size: 48px;
}

.view_detail {
	float: right;
    margin-right: 10%;
}

.date_range {
	width: 100%;
	
}
.date_range md-datepicker {
	
	
}
.datepicker {
	width: 50%;
	float: left;
	text-align: center;
}
.md-datepicker-input-mask {
	overflow:hidden;
}

.datepicker h4 {
	margin-bottom: 0;
}