
<md-bottom-sheet class="md-list md-has-header">
  
  <md-list ng-cloak>
      <md-list-item>
        <md-button
          ng-click="delete()"          
          class="md-list-item-content" >
        <i class="material-icons">delete</i>
        <span class="md-inline-list-icon-label">Delete Expense</span>
      </md-button>
    </md-list-item>
    <md-list-item>
        <md-button
          ng-click="edit()"          
          class="md-list-item-content" >
        <i class="material-icons">mode_edit</i>
        <span class="md-inline-list-icon-label">edit expense</span>
      </md-button>
    </md-list-item>

  </md-list>
</md-bottom-sheet>