<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="initMyExpense()">
<banner></banner>

<div class="container">
	
	<h2 class="center">My Expenses</h2>	

	<div class="date_range">
		<div class="datepicker">
			<h4>From</h4>
			<md-datepicker ng-model="dateStart" ng-change="updateDateRange()" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
		</div>
		<div class="datepicker">
			<h4>To</h4>
			<md-datepicker ng-model="dateEnd" ng-change="updateDateRange()" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
		</div>
	</div>

	<div ng-repeat="data in expenses track by data.expenseid" class="tsCell" ng-click="showUserExpense(data.expenseid)">	 
		<div class="cellFarLeft"></div>
		<div class="cellLeft">
			<h3>{{ data.category }}</h3>
			<p>{{ data.workname }}</p>
			<span>{{ data.date }}</span>
		</div>
		<div class="cellRight">
			<span class="effort">{{ data.actualcharge | currency }}</span>
			<span class="right_sub">Charge</span>
			<span class="effort">{{ data.actualcost | currency }}</span>
			<span class="right_sub">Cost</span>
		</div>

		<md-divider ng-if="!$last"></md-divider>							      
	</div>

	<div class="tsCell" ng-show="messageExists">	 
		<div class="cellFarLeft"></div>
		<div class="cellLeft">
			<h3>{{ message }}</h3>
			
		</div>
		<div class="cellRight">
			
		</div>							      
	</div>

	<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular><br/>
	<!--/div-->
</div>