<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts"  ng-init="initView()">
<banner></banner>
<div class="container">	
	
	<!-- <md-button ng-click="backToList()"><b>< {{ workName }}</b></md-button> <!--<i class="material-icons">arrow_back</i>--> 
	<backbutton></backbutton>

  <md-card md-theme-watch class="viewExpCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ expense.category }}</span>
            
          </md-card-title-text>
        </md-card-title>
        

	    <md-button class="more_butt md-icon-button" aria-label="delete" ng-click="showActions()">
	      	<i class="material-icons">more_vert</i>
	    </md-button>


        <md-card-content layout="row" >
        	<md-list>
        		<md-list-item><p><i class="material-icons">person</i> <span class="view_detail">{{ expense.person }}</span></p></md-list-item>
        		<md-list-item><p><i class="material-icons">event</i>  <span class="view_detail">{{ expense.date }}</span></p></md-list-item>
        		<md-list-item><p>Notes: <span class="view_detail">{{ expense.note }}</span></p></md-list-item>
          		<md-list-item ng-show="user.flags.indexOf('pfAccessToExpenseCost') > 0"><p>Actual Cost: <span class="view_detail">{{ expense.actualcost | currency }}</span></p></md-list-item>
          		<md-list-item ng-show="user.flags.indexOf('pfAccessToExpenseCharge') > 0"><p>Actual Charge: <span class="view_detail">{{ expense.actualcharge | currency }}</span></p></md-list-item>
          		<md-list-item ng-show="user.flags.indexOf('pfAccessToExpenseCost') > 0"><p>Actual Units: <span class="view_detail">{{ expense.actualunits }}</span></p></md-list-item>
          		<md-list-item ng-show="user.flags.indexOf('pfAccessToExpenseCost') > 0"><p>Unit Cost: <span class="view_detail">{{ expense.unitcost | currency  }}</span></p></md-list-item>
          		<md-list-item ng-show="user.flags.indexOf('pfAccessToExpenseCharge') > 0"><p>Unit Charge: <span class="view_detail">{{ expense.unitcharge | currency }}</span></p></md-list-item>
          		<md-list-item><p>Cost Centre: <span class="view_detail">{{ expense.costcentre }}</span></p></md-list-item>
          		<md-list-item><p>GST Included: <span class="view_detail"><md-checkbox ng-model="expense.gst" ng-disabled="true"></span></p></md-list-item>
          		<md-list-item><p>Reimburse: <span class="view_detail"><md-checkbox ng-model="expense.reimburse" ng-disabled="true"></span></p></md-list-item>
          		<md-list-item><p>Approved: <span class="view_detail"><md-checkbox ng-model="expense.approved" ng-disabled="true"></span></p></md-list-item>
          		<md-list-item><p>Paid: <span class="view_detail"><md-checkbox ng-model="expense.paid" ng-disabled="true"></span></p></md-list-item>
          		<md-list-item><p>To Invoice: <span class="view_detail"><md-checkbox ng-model="expense.invoice" ng-disabled="true"></span></p></md-list-item>
          		<md-list-item><p>To Export: <span class="view_detail"><md-checkbox ng-model="expense.export" ng-disabled="true"></span></p></md-list-item>
          		<md-list-item>
          			
          			<div class="expense_image">
          				<md-button class="md-raised md-primary upload-image" ng-click="loadImage()" ng-hide="hideLoad">Load Image</md-button>
          				<md-progress-circular md-mode="indeterminate" ng-show="imgLoading"></md-progress-circular><br/>
          				<span ng-show="imgLoading">Image Loading...</span>
                  <span ng-show="imgSaving">Image Saving...</span>
          				<!--img ng-show="expense.image.length > 1" data-ng-src="data:image/jpeg;base64,{{expense.image}}" /-->
                  <img ng-show="expense.image.length > 1" src="{{expense.image}}" ng-hide="hideImage" />
                  <img ng-show="imagedata" src="data:base64, {{expense.imagedata}}" />
          			</div>
          		</md-list-item>
          	

          		<md-list-item  ng-hide="imgSaving">
          			<md-input-container class="md-icon-float md-block">
		            <!--md-input-container ng-show="expense.image.length < 1"-->
					
					<!--input ng-model="expense.image" type="file" value="Add an Image" /-->
						<span>Choose image to upload: </span>
						<!-- <i class="material-icons">camera_alt</i> -->
						<input type="file" file-input="files" onchange="angular.element(this).scope().imageChanged(this)" aria-label="file-input" layout-align="center center" />
					</md-input-container>
				</md-list-item>	
				<md-list-item>
        	    	<md-button aria-label="Upload" ng-click="uploadImage()" class="md-raised md-primary float-right upload-image" ng-show="showUpload">
              			Upload Image
            		</md-button>
            	</md-list-item>
              <md-list-item>
                <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular><br/>
              </md-list-item>
          	</md-list>
          
        </md-card-content>
    </md-card>
					
</div>