<md-card>
	<md-input-container>
    	<label>Search</label>
    	<input ng-model="tempSearchTerm" >
  	</md-input-container>
  	<!-- <md-input-container ng-repeat="key in keys | filter:fieldSlider">
  		<label>{{key}}</label>
  		<rzslider
	    	rz-slider-model="slider.min"
	    	rz-slider-high="slider.max"
		    rz-slider-options="slider.options"></rzslider>
	</md-input-container> -->
  	<md-button ng-click="search()" class="md-primary">Search</md-button>
  	<!-- <div class="cboxes">
  		<div class="cbox" ng-repeat="(key, value) in keys">
	      	<md-input-container  layout-align="center center" class="cBoxLabel">
	      		<md-checkbox ng-checked="exists(key, selected)" ng-click="toggle(key, selected)">{{key}}</md-checkbox>
	      	</md-input-container>
	      	<div class="cSlider">
      			<!-- <label>{{key}}</label> --
	      		<rzslider
			    	rz-slider-model="slider.min"
			    	rz-slider-high="slider.max"
				    rz-slider-options="slider.options"></rzslider>
			</div>
		</div>
    </div> -->
    <div class="cboxes">
  		<div class="cbox" ng-repeat="val in fields">
	      	<md-input-container  layout-align="center center" class="cBoxLabel">
	      		<md-checkbox ng-checked="exists(val.field, selected)" ng-click="toggle(val.field, selected)">{{val.field}}</md-checkbox>
	      	</md-input-container>
	      	<!-- <div class="cSlider" ng-hide="val.type=='String'">
      			<!-- <label>{{key}}</label> --
	      		<rzslider
			    	rz-slider-model="val.min"
			    	rz-slider-high="val.max"
				    rz-slider-options="slider.options" ng-model="val.amount" ng-change="sliderchange(val)"></rzslider>
			</div> -->
			<md-slider-container ng-hide="val.type=='String'">
		    	<span>Min</span>
		      	<md-slider flex min="0" max="255" ng-model="val.min" aria-label="red" id="red-slider">
		      	</md-slider>
		      	<md-input-container>
			        <input flex type="number" ng-model="val.min" aria-label="red" aria-controls="red-slider">
				</md-input-container>
		    </md-slider-container>
		    <md-slider-container ng-hide="val.type=='String'">
		    	<span>Max</span>
		      	<md-slider flex min="0" max="255" ng-model="val.max" aria-label="red" id="red-slider">
		      	</md-slider>
		      	<md-input-container>
			        <input flex type="number" ng-model="val.max" aria-label="red" aria-controls="red-slider">
				</md-input-container>
		    </md-slider-container>
			<md-divider></md-divider>
		</div>
    </div>
</md-card>