<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="initReport()">
<banner></banner>
<div class="container">
	<backbutton></backbutton>
	
	<h2 class="center">{{ reportTitle }}</h2>
	<md-content>
		
		<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>

		<md-button class="md-primary" ng-click="showFilter()">Filter</md-button>
		
		<md-card>
			<md-card-title>
				
		    </md-card-title>
		    <md-card-content>
				<table class="reportTable">
					<thead>
						<tr>
							<th ng-repeat="(key, value) in reportData[0]" ng-show="inSelected(key)">{{key}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in reportData | filter: tableFilter">
							<td ng-repeat="(key, value) in row" ng-show="inSelected(key)">{{value}}</td>

						</tr>
					</tbody>
				</table>
			</md-card-content>
		</md-card>


		<!-- <div ng-repeat="row in reportData" class="tsCell" ng-click="">	 
			{{row}}
		</div> -->
		
		
		
		<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular><br/>
		<!--/div-->
		<md-dialog layout-padding>
			<reportfilter></reportfilter>
		</md-dialog>
	</md-content>
</div>