.reportTable tr:nth-child(even) {
    /*background-color: #d5e6f3;*/
}

.reportTable {
	width: 100%;
}

.reportTable tr:hover { /* th:hover also if you wish */
  background: #d5e6f3;
}
.reportTable td {
	padding: 4px;
	border:solid thin;
	border-color: #d0dce4;
}
/*.cboxes {
	width: 100%;
  	margin: 0 auto;
}
.cbox {
	width: 10%;
	display: inline-block;
}*/
.cbox {
	width: 100%;
	
	float: left;
}
.cBoxLabel {
	width: 30%;
	margin-right: 5%;
	float: left;
	padding-right: 0;
}
.cSlider {
	/*min-width: 200px;*/
	width: 50%;
	/*margin-left:15px;*/
	float: left;
	margin-left: 0;
	padding-left: 0;
	/*margin-right: 20px;*/
}