<md-dialog class="progressNoteDialog">
	<md-dialog-content>
		<h2 class="dialog_heading">Add Progress Note</h2>
		<md-input-container class="md-block" flex-gt-sm>

        	<textarea ng-model="progressnote.text"></textarea>
        </md-input-container>
        <br />
        <md-button class="md-full" ng-click="saveDialog()">Save</md-button>
    </md-dialog-content>
</md-dialog>