<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts" ng-init="init()">
	<banner></banner>
	<div class="container">
		<backbutton></backbutton>
		<md-content>
		<md-tabs md-dynamic-height md-border-bottom  md-selected="selectedIndex">
	    	<md-tab label="Expenses">
	    	<div ng-include src="expense/expense.html"></div>
	    	</md-tab>
	    </md-tabs>

	    
		</md-content>
	</div>
</div>