<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts">
	<banner></banner>
	<div class="container">	
		<backbutton></backbutton>
		<md-content ng-init="initAdd()">
			<md-card>
				<md-card-title>
					<md-card-title-text>
			        <span class="md-headline" ng-hide="isEdit">Add Time</span>	        			        
			      </md-card-title-text>
			    </md-card-title>
			    <md-card-content>	    	
			    	
			    	<md-input-container class="cont_md-select">
						<label>Work</label>
						<md-select ng-model="tscell.work" ng-change="selectWork()">
							<md-option ng-repeat="data in work" ng-value="data.id">
								{{ data.parent }}, {{ data.full_name }}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="cont_md-select" ng-hide="bookTos.length == 0">
						<label>Book To</label>
						<md-select ng-model="tscell.bookTo" ng-change="selectBookTo()">
							<md-option ng-repeat="data in bookTos" ng-value="data">
								{{ data.name }}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="cont_md-select" ng-hide="activities.length == 0">
						<label>Activity</label>
						<md-select ng-model="tscell.activity" ng-change="selectActivity()">
							<md-option ng-repeat="data in activities" ng-value="data.id">
								{{ data.name }}
							</md-option>
						</md-select>
					</md-input-container>									  					
					
					<md-input-container class="md-full">
						<label>Hours</label>
						<input ng-model="tscell.effort" type="number" step="0.25" ng-change="updateUnits()" />
					</md-input-container>
					
					<md-input-container class="md-full">
						<label>Date</label>
						<md-datepicker ng-model="tscell.dateJS" id="exp_date" ng-change="updateUnits()"></md-datepicker>
					</md-input-container>	

					<md-input-container class="md-block">
			          <label>Comment</label>
			          <textarea ng-model="tscell.comment" md-maxlength="150" rows="3" ng-change="updateUnits()" md-select-on-focus></textarea>
			        </md-input-container>					
				  	
				  	<md-input-container class="md-full md_squeeze">
				  	<i class="material-icons">person</i>  {{ user.fullName }}
				  	</md-input-container>

					<md-button class="md-raised md-primary md-full" ng-click="saveTime()" ng-disabled="needEdit">{{ savebutton }}</md-button>
					<md-button class="md-raised md-primary md-full" ng-click="saveAndAdd()"  ng-disabled="needEdit">Save & Add Another</md-button>
					
					<md-progress-circular md-mode="indeterminate" ng-show="isSaving"></md-progress-circular>
					
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</div>
			