<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts">
	<banner></banner>
	<div class="container">	
		<backbutton></backbutton>
		<md-content ng-init="initEdit()">
			<md-card>
				<md-card-title>
					<md-card-title-text>
			        <span class="md-headline" ng-hide="isEdit">Edit Time</span>	        			        
			      </md-card-title-text>
			    </md-card-title>
			    <md-card-content>	    	
			    	
			    	
						<h3>Work</h3>
						<p>{{tscell.work}}</p>
							
					
						<h3>Book To</h3>
						{{tscell.bookTo}}
							
					
						<h3>Activity</h3>
						{{tscell.activity}}								  					
					
					<md-input-container class="md-full">
						<label>Hours</label>
						<input ng-model="tscell.editEffort" type="number" step="0.25" ng-change="updateUnits()" />
					</md-input-container>
					
					<md-input-container class="md-full">
						<label>Date</label>
						<md-datepicker ng-model="tscell.dateJS" id="exp_date"></md-datepicker>
					</md-input-container>	

					<md-input-container class="md-block">
			          <label>Comment</label>
			          <textarea ng-model="tscell.comment" md-maxlength="150" rows="3" md-select-on-focus></textarea>
			        </md-input-container>					
				  	
				  	<md-input-container class="md-full md_squeeze">
				  	<i class="material-icons">person</i>  {{ user.fullName }}
				  	</md-input-container>

					<md-button class="md-raised md-primary md-full" ng-click="saveEdit()">{{ savebutton }}</md-button>
					<md-button class="md-raised md-primary md-full" ng-click="deleteCell(tscell)">Delete Cell</md-button>
					<md-button class="md-raised md-primary md-full" ng-click="duplicateCell(tscell)">Duplicate Cell</md-button>
					
					<md-progress-circular md-mode="indeterminate" ng-show="isSaving"></md-progress-circular>
					
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</div>
			