<div class="tsCell" ng-click="selectTSCell(data)" >
				 	
  	<div class="cellFarLeft colour{{ data.colour }}"></div>
    <div class="cellLeft">
		
		<p>{{ data.date | date:'yyyy-MM-dd' }}</p>
		<h3>{{ data.work }}</h3>
		<span class="bottomDetail" ng-hide="!data.activity">Activity: {{ data.activity }}</span>
		<span class="bottomDetail" ng-hide="!data.bookTo">Book To: {{ data.bookTo }}</span>
	</div>
	<div class="cellRight">
		<span class="effort effort_centre">{{ data.effort > 0 ? data.effort / 3600 : data.effort }}</span>
		
	</div>
	<md-divider></md-divider>
				      
</div>
