<sidebar></sidebar>
<div id="fullWrapper" snap-content snap-options="snapOpts">
	<banner></banner>
	<div class="container">	
		<!-- <backbutton></backbutton> -->
		<md-content ng-init="init()" ng-hide="isLoading">
				<div class="dateSelection" ng-hide="isLoading">
		    		<md-button class="md-raised date-change" ng-click="back()">{{ backward }}</md-button>
		    		
		    			<md-datepicker ng-model="timesheetdate.value" md-placeholder="Enter date" ng-blur="changeDate()" class="no-date-icon"></md-datepicker>
		    			
		    		<md-button class="md-raised date-change" ng-click="forwards()">{{ forward }}</md-button>

		    	</div>
		  		
		  		<md-input-container class="timesheetStatus" ng-hide="isLoading">
		          
		          <md-select ng-model="timesheet.SelectedStatus">		          	
		            <label>Timesheet Status</label>
		            <md-option ng-repeat="status in timesheet.statuses" ng-value="status.name" ng-blur="updateTsStatus()">
		              {{ status.name }}
		            </md-option>
		          </md-select>
		        </md-input-container>

		        <md-button ng-click="lockTS()" class="md-full md-raised" 
		        ng-show="user.flags.indexOf('pfLockTimeSheetAccountSheet') > 0 || user.flags.indexOf('pfUnLockTimeSheetAccountSheet') > 0"
		        ng-disabled="user.flags.indexOf('pfUnLockTimeSheetAccountSheet') > 0 == false"><i class="material-icons icon-in-button">{{timesheet.lockIcon}}</i>{{ timesheet.lockAction }} Timesheet</md-button>
		    	
		    	<div class="switch_wrapper" style="text-align: center">
			    	<md-input-container style="display: inline-block;">
				        <md-switch ng-model="grouping" ng-change="groupingChange(grouping)" >
		    				Grouping: {{ groupingName }}
		  				</md-switch>
		  			</md-input-container>
		  		</div>

				<div ng-repeat="(order, value) in timesheet.tscells | groupBy: groupingFilter" >
				
				    <div class="dateHeader" ng-show="grouping">
				  		<div class="dateValue">{{ value[0].date | date:'yyyy-MM-dd' }}</div> <div class="dateTotal">{{ totalForDay(order) > 0 ? totalForDay(order) : "" }}</div>
				    </div>
				    <div class="dateHeader" ng-hide="grouping">
				  		<div class="dateValue">{{ value[0].project }}</div> <div class="dateTotal">{{ totalForProject(value[0].project) > 0 ? totalForProject(value[0].project) : "" }}</div>
				    </div>

					<div ng-repeat="data in value | filter:greaterThan('effort', 0) | orderBy: 'order'">
				  		<timesheetcell ng-show="grouping"></timesheetcell>
				  		<projectcell ng-hide="grouping"></projectcell>
					</div>

				</div>				
					

				<md-divider ng-show="isLoading"></md-divider>
				
		</md-content>
		<md-progress-circular md-mode="indeterminate" ng-show="isLoading" class="md-hue-2"></md-progress-circular>
	</div>
</div>
			