.dateSelection {
	height:50px;
	text-align: center;
	margin-top: 15px;
	min-width: 350px;
}
md-content {
	background: none;
}
.dateHeader {
	width:100%;
	height: 40px;
	line-height:40px;
	
	font-weight:bold;
	
}

.dateValue {
	margin-left: 5%;
	float: left;
	width: 80%;
}
.dateTotal {
	text-align: left;
	width: : 15%;
	float: left;

	overflow: hidden;
}
.no-date-icon .md-datepicker-button {
  display: none!important;
}
.date-change {
	font-size: 0.8em!important;
}

.tsCell {
	width:100%;
	/*height: 100px;*/
	background-color:#FFFFFF;
	margin-bottom:1px;
	box-shadow: 1px 1px 2px #888888;
	overflow: hidden;

	border-left-width: 3px;
	border-left-style: solid;
	border-left-color:#8BC34A; 
	min-height: 70px;
}

.effort {
	/*line-height: 100px;*/
	font-weight: bold;
}
.effort_centre {
	line-height: 100px;

}
.cellFarLeft {
	width:1%;
	/*height:100px;*/
	float:left;
	background-color:#8BC34A;
	display: none;
}
.colour0 {
	background-color:#42A5F5; /*Blue*/
}
.colour1 {
	background-color:#8BC34A; /*Light Green*/
}
.colour2 {
	background-color:#CDDC39; /*Lime*/
}
.colour3 {
	background-color:#FFEB3B; /*Yellow*/
}
.colour4 {
	background-color:#FF9800; /*Orange*/
}
.colour5 {
	background-color:#EC407A; /*Pink*/
}
.colour6 {
	background-color:#EF5350; /*Red*/
}
.colour7 {
	background-color:#AB47BC; /*Purple*/
}
.colour8 {
	background-color:#26A69A; /*Teal*/
}
.colour9 {
	background-color:#EF9A9A; /*Light Red*/
}
.colour10 {
	background-color:#7986CB; /*Indigo*/
}
.colour11 {
	background-color:#1DE9B6; /*Light Teal*/
}
.colour12 {
	background-color:#1DE9B6; /*Light Lime*/
}
.colour13 {
	background-color:#CFD8DC; /*Blue grey*/
}
.colour14 {
	background-color:#FFCCBC; /*Light Orange*/
}

.cellLeft {
	width:80%;
	float:left;
	padding-left: 1%;
}
.myWork h3 {
	/*line-height: 100px;*/
	line-height: 40px!important;
	/*font-size:4vw;	*/
	/*font-size: 1.5em;*/
	/*font-size: 12px;*/
}
.cellLeft h3 {
	/*line-height: 70px;*/
	margin:0 0 0 0;
}
.cellLeft p {
	line-height: 30px;
	font-size: 0.9em;
	color:#3183bf;
}
.cellLeft span {
	/*color: #a9a9a9;*/
}
.right_sub {
	/*color: #a9a9a9;	*/
}
.cellRight {
	width:15%;
	float:left;
	/*margin-top: 15px;*/
	text-align: right;
}
.cellRight .right_sub {
	text-align: right;
}
.newExp {
	line-height: 100px!important;
	height: 100px;
}
.cellRightNew {
	margin-top: 0!important;
}
.cellRightMyExp {
	width: 25%;
	float: left;
	margin-top: 15px;
}
.cellCharge {
	line-height: 50px;
}
.cellLeftMyExp {
	width: 73%!important;
}
.md-datepicker-input-container {
	margin-left: 0!important;
}
.md-datepicker-button {
	margin: 0 0 0 0!important;
	padding: 0 0 0 0!important
}

.bottomDetail {
	font-size: 0.8em;
	padding-left: 5px;
	display: block;
}

.timesheetStatus {
	width: 100%;
}
.timesheetStatus md-select {
	text-align: center;
}
.icon-in-button {
	vertical-align: middle;
}

.centre_input {
	width: 60%;
	margin: 0 auto;
}

.switch_wrapper md-switch {
	margin-bottom: 0;
	margin-top: 0;
}
.switch_wrapper {
	margin:0;
}
.switch_wrapper md-input-container {
	margin-top: 5px;
	margin-bottom: 5px;
}